{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OPSDD</title>
    <!-- CSS Link -->
    <link rel="stylesheet" href="{% static 'home/styles/style.css' %}" />
  </head>
  <body>
    <!-- 4:42 Creating our Navbar Start - @anandah_rafi -->
    <!-- Creating our Navbar End - @anandah_rafi -->

    <!-- 35:04 Toggle Mobile Menu with Javascript Start - @anandah_rafi -->
    <!-- Toggle Mobile Menu with Javascript End - @anandah_rafi -->

    <!-- 40:40 Creating Hero Section Start - @shadia_kabir -->
    <!-- Creating Hero Section End - @shadia_kabir -->

    <!-- 50:25 Creating About Section Start - @shadia_kabir -->
    <!-- Creating About Section End - @shadia_kabir -->

    <!-- 1:14:26 Creating Services Section Start - @anadah_rafi -->
    <!-- 1:Creating Services Section End - @anadah_rafi -->

    <!-- 1:26:38 Creating Sign up Section Start - @anadah_rafi -->
    <!-- 1:Creating Sign up Section End - @anadah_rafi -->

    <!-- 1:29:35 Creating Footer Section Start - @shadia_kabir -->
    <!-- 1:Creating Footer Section End - @shadia_kabir -->

    <!-- 1:46:18 Adding Javascript Smooth Scroll -->
  </body>
</html>
